

}
.body {
  margin: 30px;
  display: flex;
}

h1 {
    color:black;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}
p {
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
li {
    color: black;
    font-size: 20px;
    text-align: left;
    text-transform:uppercase;
}
.container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    
  }
  
  .container img {initial-letter-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    
  }